*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: orange;
}
h1{
    background-color: rgb(178,206,8);
    color: #000;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    border: 5px solid black;
    border-radius: 3px;
}
.choice{
    height: 170px;
    width: 170px;
}

 img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50% ;
    border: 6px solid black;

 }

 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
 }
 #user-score , #comp-score{
    font-size: 4rem;

 }
 #msg-container{
    margin-top: 5rem;
 }

 #msg{
    background-color: rgb(62, 62, 7);
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
color: aliceblue;
padding: 1rem;
border-radius: 1rem;
border:  5px solid rgb(13, 1, 1);
box-shadow: 3rem ;

 }